# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Chat'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-chat:toggle' }
      ]
    ]
  }
]
